---
name: CI

"on":
  push:
    branches:
      - master
  pull_request:

jobs:
  lint:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ">=1.18.0"

      - name: golangci-lint
        uses: golangci/golangci-lint-action@v6

  test:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v6

      - uses: actions/setup-go@v6
        with:
          go-version: ">=1.18.0"

      - name: Build
        run: |
          make build
          make build-dns01all

      - name: Pull container images
        run: |
          docker compose pull
        working-directory: testdata/docker

      - name: Run tests
        run: make integration
